/* 1. Rich black:       #001017
** 2. Rich black:       #0C1D25
** 3. Charcoal:         #253848
** 4. Payne's gray:     #30607b
** 5. Cornflower blue:  #6692ff
** 6. Seasalt:          #f9f9f9
*/

@import url("switzer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rich-black: #001017;
  --color-rich-black-2: #0C1D25;
  --color-charcoal: #253848;
  --color-paynes-gray: #30607b;
  --color-cornflower-blue: #6692ff;
  --color-seasalt: #f9f9f9;

  font-family: 'Switzer-Regular', Inter, system-ui;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-seasalt);
  background-color: var(--color-rich-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: auto;

  display: grid;
  place-items: center;

  height: 100vh;
}

*::selection {
  background-color: var(--color-cornflower-blue);
  color: var(--color-rich-black);
}

h1 {
  font-family: 'Switzer-Variable', Inter, system-ui;
  font-size: 5.5rem;
  font-weight: 900;
  color: var(--color-seasalt);
}