/* 1. Mint:           #10B981
** 2. Eerie black:    #181818
** 3. Aquamarine:     #6EE7B7
** 4. Platinum:       #EAEAEA
** 5. Gray:           #818181
** 6. Phtalo blue:    #051783
** 7. Shocking pink:  #E244B5
*/

@import url("switzer.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mint: #10B981;
  --aquamarine: #6EE7B7;
  --eerie-black: #181818;
  --gray: #818181;
  --platinum: #EAEAEA;
  --phtalo-blue: #051783;
  --shocking-pink: #E244B5;

  font-family: 'Switzer-Variable', Inter, system-ui;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--mint);
  color: var(--platinum);
}

.special::selection {
  background-color: var(--phtalo-blue)
}